
@font-face {
        font-family: 'Ronzino-Regular';
        src: url('/fonts/Ronzino-Regular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }

@font-face {
    font-family: 'Arial Narrow Web';
    src: url('/fonts/arial-narrow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --accent-color: #1b629f;
    --accent-color-2: #a1c4e2;
    --accent-color-3: #bd1c52;
    --background-color: rgb(245, 239, 233);
    --foreground-color: black;
}

html {
    overflow-x: hidden;
    overflow-y: hidden;

    background-color: rgb(245, 239, 233);

    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin: auto 0%;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}

.header-container p {
    font-family: "Inter";
    font-size: 12px;
}

.header-container p:hover {
    color: var(--background-color);
    background-color: var(--accent-color-3);
    transition: ease-in-out 0.2s;
}

.compass-axis img{
  display: block;
  position: absolute;
  margin: auto;
  bottom: 2em;
  width: 100%;
  height: 90%;
  align-items: center;
  object-fit: contain;
}
